* { 
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 120%;
    background:#e8a989;
}
.heading { 
    width :30%;
    padding: auto;
    background: #187876;
    text-align: center;
    color: white;
    margin:50px;
}
form{
        width: 70%;
        margin: 2px auto;
        
}
 .input label{
    display: block;
    text-align: left;
    margin: 3px;
    
 }