* { 
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 120%;
    background:#e8a989;
}
.heading { 
    width :30%;
    padding: auto;
    background: #187876;
    text-align: center;
    color: white;
    margin:50px;

}